.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(111, 137, 146);
  color: white;
}

.nav-link {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.item-name {
  color: rgba(37, 91, 109, 0.788);
}
